* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #f6e777e5;
  font-family: "Fjalla One", sasans-serif;
}
.font1 {
  font-size: 50px;
  font-family: "Fjalla One";
  align-items: center;
}
.pad{
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.pad1{
  padding: 7px !important;
}
nav {
  background-color: #6464639d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
}
@media (max-width: 1024px) {
  nav {
    font-size: 80%;
  }
}
nav .img-logo {
  display: block;
  width: 3.75rem;
  text-decoration: none;
  text-align: center;
  color: #302f36;
  font-weight: 600; 
}
@media (max-width: 1024px) {
  nav .img-logo {
    margin-right: 50px;
  }
}
nav .img-logo .img-logo {
  width: 100%;
}
nav .awesome-toggle {
  display: none;
  margin-right: 40px;
}
@media (max-width: 768px) {
  nav .awesome-toggle {
    width: 80px;
    border: none;
  }
}
nav .awesome-toggle {
  display: none;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  nav .awesome-toggle {
    width: 1.875rem;
    border: none;
    background-color: transparent;
    display: inline-block;
  }
}

nav .menu-wrapper {
  position: static;
  visibility: visible;
  height: auto;
  width: auto;
  background-color: transparent;
  color: white;
}
@media (max-width: 768px) {
  nav .menu-wrapper {
    position: fixed;
    background-color: #1e1d2a;
    display: none;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 5px;
   
  }
}

nav .menu-wrapper .close-btn {
  width: 50px;
  border: none;
  background-color: transparent;
  display: none;
}

@media (max-width: 768px) {
  nav .menu-wrapper .close-btn {
    color: white;
    position: absolute;
    right: 20px;
    left: 20px;
    font-size: 30px;
  }
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
  
}
@media (max-width: 768px) {
  nav .menu {
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    text-align: start;
  }
}
nav .menu .menuItem {
  line-height: 1.875rem;
  flex-basis: 0 0 auto;
}
@media (max-width: 768px) {
  nav .menu .menuItem {
    margin-bottom: 1.875rem;
    padding-left: 0.9375rem;
  }
}
nav .menu .menuItem:not(:last-child) {
  margin-right: 1.875rem;
}
nav .menu .menu-link {
  color: #302f38;
  padding: 0;
  font-weight: 600;
  font-size: 1.4rem;
  text-shadow: #fff 0.7px 0.7px;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
}
@media (max-width: 768px) {
  nav .menu .menu-link  {
    color: white;
    text-align: start;
    font-size: 1.25rem;
  }
}
nav .menu .menu-link:hover {
  color:  #1e1d2a;
  text-shadow: 2px 2px 4px #000000;
}
nav .menu .butt {
  background-color: #610c0c;
  padding: 0.375rem 0.9375rem;
  display: inline-block;
  color: black;
  text-shadow: #fff 0.7px 0.7px;
  border-radius: 1.825rem;
  border: 2px solid #610c0c;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}
nav .menu .butt1 {

  padding: 0.375rem 0.9375rem;
  display: inline-block;
  color: black;
  border-radius: 1.825rem;
  border: 2px solid #610c0c;
  font-weight: 600;
  text-decoration: none;
}



.bg-yellow {
  border: 1px solid #535350e5;
  border-radius: 3px;
  background-color: #535350e5;
  text-align: cemter;
}
.fontsize-100 {
  font-size: 80px;
}
img {
  width: 100%;
}
.logo {
  flex: 0 0 2.375rem;
}

.border {
  border: solid 2px gray;
}


header {
  background-image: url(../img/book.jpg);
  height: 100wh;

  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 30vh;
  padding-bottom: 30vh;
  background-attachment: fixed;
}

/*header .hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  -webkit-animation: move 5s infinite ease-in-out;
  animation: move 5s infinite ease-in-out;
}

@-webkit-keyframes move {
  0% {
    transform: scale(0.6, 0.6);
  }
  75% {
    transform: scale(1, 1);
  }
}
@keyframes move {
  0% {
    transform: scale(0.6, 0.6);
  }
  75% {
    transform: scale(1, 1);
  }
}*/
header .content {
  color: #610c0c;
  text-shadow: #fff 2px 2px;
  text-align: center;
  font-family: "Fjalla One";

}
header .heading {
  margin-bottom: 0;
  font-size: 7.375rem;
  letter-spacing: 2px;
  text-shadow: #fff 2px 2px;
  color: #610c0c;
  font-family: "Fjalla One";
} 
/* @media (max-width: 1440px) {
  header .heading {
    font-size: 3rem;
    font-family: "Fjalla One";
  }
}
@media (max-width: 1024px) {
  header .heading {
    font-size: 1.5rem;
    font-family: "Fjalla One";
  }
}
@media (max-width: 768px) {
  header .heading {
    font-size: 1.5rem;
    font-family: "Fjalla One";
  }
} */

.label {
  color: black;
  border-radius: 3px;
  padding: 8px;
  font-family: Arial;
}


/*.card-img {
  overflow: hidden;
}
.card-img img {
  transition: all 1.3s ease;
}
.card-img:hover img {
  transform: scale(1.2);
}*/


.filters-container {
  width: 100%;
}
.filters-row {
  background-color:  #1e1d2a;
  ;
  display: flex;
  cursor: pointer;
}
nav .menu-wrapper {
  position: static;
  visibility: visible;
  height: auto;
  width: auto;
  background-color: transparent;
  color: white;
}
@media (max-width: 768px) {
  nav .menu-wrapper {
    position: fixed;
    background-color: #1e1d2a;
    ;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 4px;
    display: none;
    color: white;
  }
}
@media (max-width: 426px) {
  .filters-row {
    flex-direction: column;
  }
}

.filters-col {
  flex-basis: 33.333%;
  padding: 1.5rem;
}
@media (max-width: 426px) {
  .filters-col {
    flex-basis: 100%;
  }
}
/*.active-col {
  background-color: #eb3b3b;
  transition: all 0.4s ease;
}*/

.filter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.filter p {
  flex-basis: 90%;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .filter p {
    font-size: 1rem;
  }
}
.filter i {
  flex-basis: 10%;
  text-align: center;
  color: #302f38;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .filter i {
    font-size: 2rem;
  }
}
input[type="checkbox"] {
  display: none;
}

.card-container {
  padding: 2rem 1.5rem;
  width: 80%;
  margin: auto;
}
@media (max-width: 1440px) {
  .card-container {
    width: 65%;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .card-container {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .card-container {
    width: 90%;
  }
}
.card-container h1 {
  font-size: 4.5rem;
  text-align: center;
  color:  #1e1d2a;
  
  margin-bottom: 1.875rem;
}
.card-container h1:hover {
  color: rgb(181, 33, 33);
  text-shadow: 2px 2px 4px #000000;
}
.card-container .card-row {
  display: flex;
  flex-wrap: wrap;
}
.card-container .card-col {
  flex-basis: 33.333%;
  margin-bottom: 1rem;
}
@media (max-width: 426px) {
  

  .card-container .card-col:nth-child(-n + 6) {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .card-container .card-col {
    flex-basis: 50%;
  }
}
@media (max-width: 426px) {
  .card-container .card-col {
    flex-basis: 100%;
  }
}
.card-container .card-inner {
  display: block;
  color:  #1e1d2a;  
  background-color: #ffffff;
  border-radius: 0.625rem;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  /*transition: all 0.7s ease-in-out;*/
  box-shadow: 10px 7px 7px 10px rgba(148, 4, 4, 0.3);
}
.card-container .card-inner:hover {
  background-color:#535350e5;
  /*transform: scale(1.2);*/
  padding: 0rem;
}
@media (max-width: 426px) {
  .card-container .card-inner {
    margin-right: 0;
    margin-left: 0;
  }
}
.card-container .card-inner .image {
  margin-bottom: 0.5rem;

  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-container .card-inner img {
  width: 100%;
  height: 150px;

}
/*.card-container .card-inner img:hover {
  transform: scale(1.5);
}*/
.card-container .card-content {
  padding: 1rem;
}

.card-container .card-header {
  width: 80%;
}
.card-container .card-header h3 {
  line-height: normal;
}
.card-container .card-footer {
  text-align: right;
  width: 100%;
}
.card-container .card-footer p {
  text-align: left;
  font-weight: 600;
}
.card-container .card-footer .card-btn {
  background-color: #ff1300;
  padding: 0.375rem 1.5rem;
  display: inline-block;
  color: #ffffff;
  border-radius: 0.3125rem;
  border: 2px solid #ff1300;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card-container .card-footer .card-btn:hover {
  background-color: #ffffff;
  border-color: 2px solid #fff;
  color: #ff1300;
}
.card-container .loadmore-btn {
  display: none;
}
@media (max-width: 426px) {
  .card-container .loadmore-btn {
    display: block;
    text-align: center;
  }
}
.card-container .btn {
  background-color: #ff1300;
  padding: 0.375rem 1.5rem;
  color: #ffffff;
  border-radius: 0.3125rem;
  border: 2px solid #ff1300;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

footer {
  background-color:  #1e1d2a;
  ;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 1.5em;
}
footer .footer-inner {
  position: absolute;
  bottom: 0;
}
footer .footer-element {
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
}
footer .footer-element p {
  margin-bottom: 0;
}
footer .footer-element p i {
  color: #ff1300;
}
footer .footer-element .heart {
  -webkit-animation: move 3s infinite ease-in-out;
  animation: move 3s infinite ease-in-out;
}
@keyframes move {
  0% {
    transform: scale(0.5, 0.5);
  }
  70% {
    transform: scale(1, 1);
  }
}

.header-form {
  background-color: #535350e5;
  margin: 0.625rem auto;
  width: 100%;
  padding: 25px 30px;
}
@media (max-width: 1440px) {
  .header-form {
    height: 80vh;
  }
}
@media (max-width: 1024px) {
  .header-form {
    width: 90%;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  .header-form {
    padding: 0;
  }
}

h1 {
  color:#610c0c;
  text-shadow: #fff 1px 1px;
  text-align: center;
  font-weight: 600;
  font-size: 4.375rem;
}
/* @media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
    margin-top: 8rem;
  }
}
@media (max-width: 768px) {
  h1 {
    margin-top: 4rem;
  }
}
h1:hover {
  color: rgb(128, 12, 12);
  text-shadow: 2px 2px 4px #000000;
} */

.form-row {
  display: flex;
  flex-wrap: wrap;
  color:   #1e1d2a;
  
}

.form-col {
  flex: 0 1 50%;
  padding: 0.9375rem;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  position: relative;
}
@media (max-width: 375px) {
  .form-col {
    flex: 0 1 100%;
    padding: 0 !important;
  }
}
@media (max-width: 426px) {
  .form-col {
    flex: 0 0 100%;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .form-col {
    padding: 0.9375rem;
  }
}
@media (max-width: 320px) {
  .form-col {
    font-size: 1rem;
    padding: 0.9375rem;
  }
}
.form-col input {
  width: 100%;
  padding: 0.9375rem;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.form-col input[type="submit"] {
  background-color: #ff1300;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  color: #ffffff;
  margin-top: 1.875rem;
  font-size: 10px;
  font-weight: 600;
  display: block;
}

.success-class {
  visibility: hidden;
  position: relative;
}
.success-class i {
  color: #05883c;
  position: absolute;
  bottom: 3px;
  right: 25px;
}
@media (max-width: 320px) {
  .success-class i {
    color: #05883c;
    position: absolute;
    bottom: 5px;
    right: -20px;
  }
}
.error-class {
  visibility: hidden;
  position: relative;
}
.error-class i {
  color: rgb(159, 6, 6);
  position: absolute;
  bottom: 3px;
  right: 25px;
}
@media (max-width: 320px) {
  .error-class i {
    color: rgb(159, 6, 6);
    position: absolute;
    bottom: 5px;
    right: -20px;
  }
}
.error-class .error-paragraph {
  color: rgb(159, 6, 6);
}

.element-visible {
  display: inline;
  visibility: visible;
}

.element-hidden {
  display: none;
  visibility: hidden;
}

.error-border {
  border: solid 1px !important;
  border-color:rgb(159, 6, 6) !important;
}

.success-border {
  border: solid 1px !important;
  border-color:  #05883c !important;
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  border: none;
}

.marketing-wrapper-div,
.coding-wrapper-div,
.design-wrapper-div {
  display: flex;
  justify-content: space-between;
}
